// HEADER
header {
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: rgb(184, 206, 219);
	.header_row {
		padding: 39px 0 27px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 116px;
		.brand_logo {
			img {
				width: 182px;
				height: 49px;
			}
		}
	}
	.header_middle {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.menus {
			display: flex;
			align-items: center;
			gap: 57px;
			transition: 0.3s all ease-out;
			li {
				font-size: 20px;
				font-weight: 400;
				line-height: 27px;
				text-decoration: none;
				color: rgb(12, 26, 55);
				display: flex;
				align-items: center;
				gap: 5px;
				justify-content: space-between;
				cursor: pointer;
				position: relative;
				transition: 0.3s all ease-out;
				&::after {
					position: absolute;
					content: "";
					width: 0;
					height: 3px;
					bottom: 0;
					left: 0;
					background-color: #0c1a37;
					transition: 0.3s all ease-out;
				}
				&:hover {
					&::after {
						width: 100%;
					}
				}
				&.has_submenu {
					&::before {
						position: absolute;
						content: "";
						width: 100%;
						height: 40px;
						left: 0;
						bottom: -28px;
					}
				}
			}
			li:hover {
				-webkit-text-stroke: 1px rgb(12, 26, 55);
			}
			li.has_submenu .submenu {
				display: flex;
				flex-direction: column;
				position: absolute;
				left: 0;
				top: calc(100% + 27px);
				opacity: 0;
				visibility: hidden;
				transform: translateY(20px);
				z-index: 2;
				background: rgb(250, 250, 250);
				min-width: 416px;
				transition: 0.3s all ease-out;
				border-top: 6px solid transparent;
			}
			li.has_submenu:hover {
				border-color: rgb(12, 26, 55);
			}
			li.has_submenu:hover .submenu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				border-color: rgb(12, 26, 55);
			}
			li.has_submenu .submenu li {
				height: 66px;
				padding: 8px 16px 8px 16px;
				&::after {
					position: absolute;
					content: '';
					width: 100%;
					height: 1px;
					left: 0;
					top: 0;
					background-color: rgb(141, 161, 178);
				}
			}
			li.has_submenu .submenu li:hover {
				background: rgb(184, 206, 219);
			}
			li.has_submenu .submenu li:hover .inner_submenu {
				opacity: 1;
				visibility: visible;
				right: 0;
			}
			li.has_submenu .inner_submenu {
				position: absolute;
				visibility: hidden;
				opacity: 0;
				right: -10px;
				transform: translate(100%, 0);
				top: 0;
				transition: 0.3s all ease-out;
				background: rgb(250, 250, 250);
			}
			a {
				text-decoration: none;
				color: rgb(12, 26, 55);
				transition: 0.3s all ease-out;
				text-wrap: nowrap;
				:hover {
					-webkit-text-stroke: 1px rgb(12, 26, 55);
				}
			}
			.close_menu {
				display: none;
			}
		}
		ul {
			list-style: none;
		}
	}
	.search_wrap {
		position: relative;
		input {
			width: 100%;
			max-width: 100%;
			border-radius: 15px;
			background: rgb(196, 215, 226);
			padding: 12px 20px 12px 58px;
			color: rgb(12, 26, 55);
			font-family: OpenSans;
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			height: 61px;
			border: none;
			outline: none;
		}
		img {
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	.header_right {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.to_tel {
			display: flex;
			align-items: center;
			gap: 16px;
			font-size: 30px;
			font-weight: 700;
			line-height: 41px;
			color: rgb(12, 26, 55);
		}
		.blue_button {
			a {
				padding: 15.5px 0;
			}
		}
		.search_wrap,
		.hamburger {
			display: none;
		}
	}
}
// HERO
.hero {
	padding: 345px 0 308px 0;
	position: relative;
	z-index: 1;
	.hero_bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}
	.swiper {
		overflow: visible;
		padding: 0 20px;
	}
	.swiper-wrapper {
		display: flex;
		align-items: stretch;
		.swiper-slide {
			height: auto;
			.container {
				height: 100%;
			}
		}
	}
	h1 {
		font-size: 50px;
		font-weight: 700;
		line-height: 68px;
		color: rgb(255, 255, 255);
		margin: 0 0 32px 0;
		max-width: 1150px;
		width: 100%;
	}
	.blue_button {
		text-align: left;
		a {
			text-align: center;
		}
	}
	.prev,
	.next {
		position: absolute;
		top: 50%;
		z-index: 2;
		cursor: pointer;
		border-radius: 6px;
		transition: 0.3s all ease-out;
	}
	.prev {
		left: 10px;
		padding: 8px 20px 8px 15px;
		width: 58px;
		transform: translate(-100%, -50%);
		height: 58px;
	}
	.next {
		right: 10px;
		padding: 8px 15px 8px 20px;
		width: 58px;
		transform: translate(100%, -50%);
		height: 58px;
	}
	.prev:not(.swiper-button-disabled):hover,
	.next:not(.swiper-button-disabled):hover {
		background: rgb(12, 26, 55);
	}
	.prev:not(.swiper-button-disabled) svg path,
	.next:not(.swiper-button-disabled) svg path {
		transition: 0.3s all ease-out;
	}
	.prev:not(.swiper-button-disabled):hover svg path,
	.next:not(.swiper-button-disabled):hover svg path {
		fill: rgb(255, 255, 255);
	}
	.swiper-button-disabled,
	.swiper-button-disabled {
		cursor: auto;
	}
	.swiper-slide-next,
	.swiper-slide-prev {
		opacity: 0;
	}
}
.hero::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(184, 206, 219, 0),
		rgb(184, 206, 219) 100%
	);
	z-index: -1;
}

// catalog section
.catalog {
	background-color: #b8cedb;
	.catalog_block {
		padding-top: 45px;
		position: relative;
		margin-bottom: 20px;
	}
	.catalog_swiper {
		padding-bottom: 30px;
		// padding: 0 10px 30px 10px;
	}
	.swiper_item {
		border-radius: 10px;
		background: rgb(255, 255, 255);
		padding: 15px 15px 30px 15px;
		height: 498px;
		transition: all ease-in 0.2s;
		&:hover {
			box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.192);
		}
	}
	.swiper_offer_prev {
		position: absolute;
		top: 48%;
		left: -50px;
	}
	.swiper_offer_next {
		right: -50px;
		position: absolute;
		top: 48%;
	}
	.swiper_img {
		user-select: none;
		margin-bottom: 75px;
		img {
			max-width: 307px;
			max-height: 307px;
			object-fit: cover;
			object-position: center;
		}
	}
	.catalog_desc {
		color: rgb(12, 26, 55);
		font-size: 26px;
		font-weight: 600;
		line-height: 33px;
		text-align: center;
		user-select: none;
	}
}

// news section
.news {
	background-color: #b8cedb;
	#title {
		margin-bottom: 55px;
	}
	.news_swiper,
	.d_lg_none {
		display: none;
	}
	.news_block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 24px 0;
		margin-bottom: 40px;
	}
	.news_item {
		flex: 0 0 auto;
		width: calc(50% - 12px);
		border-radius: 10px;
		background-color: #fff;
		transition: all ease-in 0.2s;
		&:hover {
			cursor: pointer;
			box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.393);
		}
	}
	.news_item_img {
		img {
			width: 100%;
			border-radius: 10px 10px 0px 0px;
		}
	}
	.news_body {
		padding: 18px 36px;
	}
	.news_date {
		color: rgb(12, 26, 55);
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		margin-bottom: 8px;
		letter-spacing: 0%;
	}
	.news_desc {
		color: rgb(12, 26, 55);
		font-size: 26px;
		font-weight: 600;
		line-height: 35px;
		letter-spacing: 0%;
	}
}

// company
.company_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	.company_count {
		color: rgb(12, 26, 55);
		font-size: 80px;
		font-weight: 600;
		line-height: 109px;
		letter-spacing: 0%;
	}
	.company_count_title {
		color: rgb(12, 26, 55);
		font-size: 30px;
		font-weight: 400;
		line-height: 41px;
		letter-spacing: 0%;
		margin-top: -5px;
	}
}
.company {
	background: url(../images/company_bg.png) no-repeat;
	background-size: cover;
	padding-bottom: 90px;
	#title {
		transform: translate(0, -16px);
	}
	.blue_button#mobile_blue {
		display: none;
	}

	.blue_button#left_side {
		display: inline-block;
	}

	.company_block {
		display: flex;
		gap: 65px;
		justify-content: space-between;
		align-items: flex-start;
	}
	.company_left {
		flex: 0 0 auto;
		width: 45.3%;
	}
	.company_desc {
		color: rgb(12, 26, 55);
		font-size: 20px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0%;
		margin-bottom: 60px;
	}
	.company_right_images {
		display: flex;
		gap: 15px 24px;
		flex-wrap: wrap;
	}
}

// special_offers
.special_offers {
	background-color: #b8cedb;
	.offer_block {
		margin-top: 40px;
		position: relative;
	}
	.swiper_offer_prev {
		position: absolute;
		top: 50%;
		left: -50px;
		transform: translate(0,-50%);
	}
	.swiper_offer_next {
		right: -50px;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	.swiper_item {
		box-sizing: border-box;
		border: 1px solid rgb(184, 206, 219);
		border-radius: 10px;
		background: rgb(255, 255, 255);
		padding: 19px 9px 44px 9px;
		transition: all ease-in 0.2s;
		&:hover {
			box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.393);
		}
	}
	.swiper_img {
		text-align: center;
		margin-bottom: 40px;
	}
	.offer_desc {
		color: rgb(12, 26, 55);
		font-size: 20px;
		font-weight: 600;
		line-height: 27px;
		letter-spacing: 0%;
		text-align: center;
	}
}

// question
.question {
	padding: 60px 0;
	background: url(../images/company_bg.png) no-repeat;
	background-size: cover;
	h3 {
		color: rgb(12, 26, 55);
		font-size: 50px;
		font-weight: 700;
		line-height: 68px;
		text-align: center;
		margin-bottom: 40px;
	}
	.question_block{
		margin: 0 120px;
	}
	.question_block > .question_input {
		display: flex;
		gap: 24px;
		margin-bottom: 24px;
	}

	.question_block > textarea {
		width: 100%;
		padding: 23px 31px;
		font-size: 22px;
		outline: none;
		border-radius: 10px;
		border: 0.5px solid rgb(12, 26, 55);
		color: rgb(12, 26, 55);
		line-height: 30px;
		min-height: 167px;
		max-height: 167px;
		min-width: 100%;
		max-width: 100%;
		margin-bottom: 40px;
		&::placeholder {
			color: rgb(12, 26, 55);
		}
		&::-webkit-resizer {
			display: none;
		}
	}

	.orginal_input {
		width: 100%;
		padding: 23px 31px;
		font-size: 22px;
		outline: none;
		border-radius: 10px;
		color: rgb(12, 26, 55);
		font-size: 22px;
		font-weight: 400;
		line-height: 30px;
		border: 0.5px solid rgb(12, 26, 55);
		&::placeholder {
			color: rgb(12, 26, 55);
		}
	}
}

// empty div
.empty {
	height: 130px;
	background-color: #b8cedb;
}

// footer
footer {
	padding: 80px 0;
	background: rgb(12, 26, 55);
	.footer_logo {
		color: rgb(250, 250, 250);
		font-size: 40px;
		font-weight: 800;
		line-height: 54px;
		margin-bottom: 40px;
	}
	.tablet_item {
		display: none;
	}
	.footer_block {
		display: flex;
		flex-wrap: wrap;
		gap: 60px 90px;
		justify-content: space-between;
	}
	.footer_item_name {
		color: rgb(250, 250, 250);
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.footer_detail_lists {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}
	.list_item {
		display: flex;
		gap: 40px;
	}
	.list_title {
		width: 82px;
		color: rgb(141, 161, 178);
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
	}
	.list_value {
		color: rgb(250, 250, 250);
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		max-width: 215px;
	}
	.footer_navs {
		display: flex;
		flex-direction: column;
		gap: 16px;
		list-style: none;
		li a {
			color: rgb(250, 250, 250);
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
	}
	.footer_last {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: end;
	}
	.rule {
		color: rgb(250, 250, 250);
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		transition: all ease-in 0.2s;
		border-bottom: 2px solid transparent;
		&:hover {
			border-bottom: 2px solid rgb(250, 250, 250);
		}
	}
	.substr_title {
		color: rgb(250, 250, 250);
		font-size: 18px;
		font-weight: 700;
		line-height: 25px;
		text-align: center;
		margin-bottom: 15px;
	}
	.subscribe_form {
		display: flex;
		gap: 12px;
		input {
			border: 0.5px solid rgb(184, 206, 219);
			border-radius: 10px;
			height: 45px;
			padding-left: 15px;
			width: 330px;
			outline: none;
			background: rgba(250, 250, 250, 0.2);
			color: rgb(141, 161, 178);
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			&::placeholder {
				color: rgb(141, 161, 178);
				font-size: 18px;
			}
		}
		button {
			border: none;
			cursor: pointer;
			color: rgb(12, 26, 55);
			font-size: 18px;
			font-weight: 700;
			line-height: 25px;
			padding: 11px 57px 8px 57px;
			border-radius: 10px;
			background: rgb(184, 206, 219);
			transition: all ease-in-out 0.2s;
			&:hover {
				color: rgb(12, 26, 55);
				background: rgb(255, 255, 255);
			}
		}
	}
	.social_network {
		display: flex;
		gap: 17px;
	}
	.social_title {
		color: rgb(250, 250, 250);
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
	}
}
// MODALS
.modal_back {
	position: fixed;
	top: 0;
	right: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: 0.3s all ease-out;
	visibility: hidden;
	opacity: 0;
	.modal {
		position: absolute;
		padding: 70px;
		max-width: 936px;
		width: 100%;
		height: 0;
		max-height: calc(100svh - 40px);
		display: flex;
		align-items: flex-start;
		gap: 50px;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0px 10px 30px 0px rgba(32, 67, 135, 0.1);
		background: rgb(242, 242, 242);
		z-index: 2;
		visibility: hidden;
		opacity: 0;
		overflow: auto;
		&.modal2 {
			.modal_title {
				text-align: center;
			}
		}
		.modal_title {
			font-size: 50px;
			font-weight: 700;
			line-height: 68px;
			color: rgb(12, 26, 55);
		}
		.close_modal {
			position: absolute;
			right: 27px;
			top: 27px;
			width: 41px;
			height: 41px;
			padding: 10px;
			cursor: pointer;
		}
		.blue_button {
			button {
				padding: 19px 0;
			}
		}
	}
	.for_close {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}
.open_modal {
	overflow: hidden;
	.modal_back {
		opacity: 1;
		visibility: visible;
		z-index: 3;
		.for_close {
			background: rgba(12, 26, 55, 0.5);
		}
	}
	&:has(.filter.active) {
		overflow: visible;
	}
}
.open_modal.modal1_active .modal1 {
	position: relative;
	height: auto;
	opacity: 1;
	visibility: visible;
}
.open_modal.modal2_active .modal2 {
	position: relative;
	height: auto;
	opacity: 1;
	visibility: visible;
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
	.inputs {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}
	label {
		position: relative;
		&.error {
			display: none !important;
		}
	}
	.form_actions {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 50px;
		.blue_button {
			width: 100%;
			align-items: center;
			text-align: center;
		}
		.for_checkbox {
			gap: 16px;
			.checkmark {
				width: 28px;
				height: 28px;
				&::after {
					width: 13px;
					height: 8px;
				}
			}
		}
	}
}
