// HEADER
header{
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);
	background-color: rgb(184, 206, 219);
	.header_row{
		padding: 39px 0 27px 0;
		display: flex;
		align-items: center;
		gap: 122px;
	}
	.header_middle{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.search_wrap{
		position: relative;
		input{
			width: 100%;
			max-width: 100%;
			border-radius: 15px;
			background: rgb(196, 215, 226);
			padding: 12px 20px 12px 58px;
			color: rgb(12, 26, 55);
			font-family: Open Sans;
			font-size: 16px;
			font-weight: 300;
			line-height: 22px;
			height: 61px;
		}
		img{
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translate(-50%,0);
		}
	}
}
// news section
.news {
	background-color: #b8cedb;
	#title {
		margin-bottom: 55px;
	}
	.news_block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 24px 0;
		margin-bottom: 40px;
	}
	.news_item {
		flex: 0 0 auto;
		width: calc(50% - 12px);
		border-radius: 10px;
		background-color: #fff;
		transition: all ease-in 0.2s;
		&:hover {
			cursor: pointer;
			box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.393);
		}
	}
	.news_item_img {
		img {
			width: 100%;
			border-radius: 10px 10px 0px 0px;
		}
	}
	.news_body {
		padding: 18px 36px;
	}
	.news_date {
		color: rgb(12, 26, 55);
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		margin-bottom: 8px;
		letter-spacing: 0%;
	}
	.news_desc {
		color: rgb(12, 26, 55);
		font-size: 26px;
		font-weight: 600;
		line-height: 35px;
		letter-spacing: 0%;
	}
}

// company
.company {
	background: url(../images/company_bg.png) no-repeat;
	background-size: cover;
	padding-bottom: 90px;
	#title {
		transform: translate(0, -35px);
	}
	.company_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}
	.blue_button#left_side {
		display: inline-block;
	}
	.company_count {
		color: rgb(12, 26, 55);
		font-size: 80px;
		font-weight: 600;
		line-height: 109px;
		letter-spacing: 0%;
	}
	.company_count_title {
		color: rgb(12, 26, 55);
		font-size: 30px;
		font-weight: 400;
		line-height: 41px;
		letter-spacing: 0%;
		margin-top: -5px;
	}
	.company_block {
		display: flex;
		gap: 65px;
		justify-content: space-between;
		align-items: flex-start;
	}
	.company_left {
		flex: 0 0 auto;
		width: 45.3%;
	}
	.company_desc {
		color: rgb(12, 26, 55);
		font-size: 20px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0%;
		margin-bottom: 60px;
	}
	.company_right_images {
		display: flex;
		gap: 15px 24px;
		flex-wrap: wrap;
	}
}
