.container {
	max-width: 1415px;
	margin: 0 auto;
	padding: 0;
}

@media (max-width: 1480px) {
	.container {
		max-width: 1140px;
	}
	header {
		.header_row {
			gap: 60px;
			.brand_logo {
				img {
					width: 171px;
					height: 30px;
				}
			}
		}
		.header_middle {
			gap: 15px;
			.menus {
				gap: 30px;
			}
		}
		.header_right {
			.to_tel {
				font-size: 26px;
			}
			.blue_button {
				a {
					max-width: 257px;
				}
			}
		}
	}
	header .header_middle .menus li.has_submenu .submenu {
		top: calc(100% + 35px);
	}
	.img_item {
		flex: 0 0 auto;
		width: 47%;
		img {
			width: 100%;
		}
	}
	.swiper_navs {
		display: none;
	}
	.catalog .swiper_img img {
		width: 100%;
	}
	.catalog .catalog_desc {
		font-size: 24px;
	}
	.catalog .swiper_item {
		height: 430px;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	footer .footer_last {
		gap: 15px;
	}
	.company #title {
		transform: translate(0, -4px);
	}
	#title {
		font-size: 30px;
	}
	header {
		.header_row {
			gap: 40px;
			.brand_logo {
				img {
					width: 120px;
				}
			}
			padding: 20px 0;
		}
		.header_middle {
			.menus {
				gap: 20px;
				li {
					.has_submenu {
						.submenu {
							top: calc(100% + 28px);
						}
					}
				}
			}
		}
		.header_right {
			.to_tel {
				gap: 13px;
				font-size: 20px;
			}
			.blue_button {
				a {
					font-size: 18px;
					max-width: 208px;
				}
			}
			.blue_button {
				a {
					font-size: 19px;
				}
			}
		}
	}
	.catalog .swiper_img {
		margin-bottom: 35px;
	}
	.company .company_count {
		font-size: 54px;
		line-height: 74px;
	}
	.company .company_count_title {
		font-size: 18px;
		line-height: 25px;
	}
	.company .company_top {
		margin-bottom: 30px;
	}
	.company .company_desc {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 0;
	}
	.company .company_block {
		gap: 20px;
		margin-bottom: 35px;
	}
	.company .blue_button#left_side {
		display: none;
	}
	.company .blue_button#mobile_blue {
		display: block;
	}
}
@media (max-width: 992px) {
	body:has(.menus.active) {
		overflow: hidden;
	}
	.container {
		max-width: 720px;
	}
	header {
		.header_row {
			padding: 31px 0;
		}
		.header_middle {
			.menus {
				position: fixed;
				flex-direction: column;
				right: -100%;
				left: auto;
				top: 106px;
				gap: 0;
				z-index: 2;
				min-width: 395px;
				border-top-left-radius: 10px;
				align-items: flex-start;
				background-color: rgb(250, 250, 250);
				box-shadow: 0px 10px 30px 0px rgba(32, 67, 135, 0.1);
				li {
					width: 100%;
					padding: 8px 16px;
					height: 58px;
					border-top: 1px solid rgb(184, 206, 219);
					font-weight: 700;
					height: 58px;
					.submenu li {
						font-weight: 600;
					}
					.inner_submenu li {
						font-weight: 300;
					}
					&.has_submenu:hover {
						flex-direction: column;
						align-items: flex-start;
						height: auto;
						border-color: rgb(184, 206, 219);
						padding-bottom: 0;
						-webkit-text-stroke: 0;
						.submenu {
							position: relative;
							border-color: rgb(184, 206, 219);
							li {
								border-color: rgb(184, 206, 219);
							}
							li:hover {
								flex-direction: column;
								align-items: flex-start;
								height: auto;
								padding: 17px 0 0 0;
								gap: 19px;
								.inner_submenu {
									position: relative;
									transform: none;
									width: 100%;
									li {
										padding: 8px 32px 8px 32px;
									}
								}
								a {
									margin: 0 0 0 25px;
								}
								img {
									transform: rotate(-90deg);
								}
							}
						}
						img {
							position: absolute;
							right: 16px;
							top: 20px;
							transform: rotate(-180deg);
						}
					}
					&.has_submenu {
						padding: 16px 0;
						border-bottom: none;
						gap: 15px;
						.submenu {
							border-top: 1px solid rgb(184, 206, 219);
							li {
								height: 58px;
								padding: 8px 25px 8px 25px;
								img {
									transform: rotate(90deg);
								}
							}
						}
						span {
							margin: 0 0 0 16px;
						}
						&:hover {
							background-color: rgb(184, 206, 219);
							color: rgb(250, 250, 250);
						}
					}
				}
				li:hover {
					-webkit-text-stroke: 0;
				}
				&.active {
					right: 0;
				}
			}
			.search_wrap {
				display: none;
			}
		}
		.header_right {
			flex-direction: row-reverse;
			align-items: center;
			gap: 16px;
			span {
				display: none;
			}
			.search_wrap,
			.hamburger {
				display: block;
			}
			.to_tel {
				border: 1px solid rgb(12, 26, 55);
				border-radius: 7px;
				padding: 7px;
				img {
					width: 28px;
					height: 28px;
				}
			}
			.blue_button a {
				font-size: 14px;
				line-height: 22px;
				max-width: 200px;
				padding: 9px 0;
			}
		}
		.search_wrap {
			input {
				height: 44px;
				border-radius: 8px;
				padding: 12px 20px 12px 43px;
			}
			img {
				left: 15px;
			}
		}
		.header_middle .menus .close_menu {
			display: flex;
			border: none;
			:hover {
				background: rgb(250, 250, 250);
			}
		}
	}
	.catalog .catalog_desc {
		font-size: 20px;
	}
	.question {
		padding: 35px 0;
	}
	.footer_last {
		.rule,
		.social_network {
			display: none;
		}
	}
	.subscribe_block {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	footer .substr_title {
		max-width: 175px;
		font-size: 16px;
		line-height: 22px;
		text-align: left;
	}
	footer .subscribe_form input {
		width: 270px;
		height: 42px;
		font-size: 16px;
		line-height: 22px;
		&::placeholder {
			font-size: 16px;
		}
	}
	footer .tablet_item {
		max-width: 175px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	footer .footer_block {
		gap: 40px 60px;
	}
	footer {
		padding: 35px 0;
	}
	footer .footer_logo {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 35px;
	}
	footer .footer_item_name .blue_button {
		font-size: 18px;
		line-height: 22px;
	}
	footer .list_title {
		width: 73px;
		font-size: 16px;
		line-height: 22px;
	}
	footer .footer_navs {
		gap: 10px;
	}
	footer .list_value,
	footer .footer_navs li a {
		font-size: 16px;
		line-height: 22px;
	}
	.empty {
		height: 80px;
	}
	footer .subscribe_form button {
		padding: 5px 20px;
		font-size: 16px;
		height: 42px;
	}
	.question h3 {
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 30px;
	}
	.question .orginal_input {
		font-size: 14px;
		line-height: 19px;
	}
	.question .question_block > textarea {
		font-size: 14px;
		line-height: 19px;
		min-height: 120px;
		margin-bottom: 30px;
	}
	.catalog .catalog_block {
		padding-top: 27px;
	}
	.special_offers .offer_desc {
		font-size: 18px;
		line-height: 25px;
	}

	.special_offers .swiper_item {
		padding: 19px 9px 22px 9px;
	}
	.special_offers .offer_block {
		padding-top: 20px;
	}
	.special_offers {
		padding: 80px 0 0 0;
	}
	.special_offers .offer_swiper {
		padding-bottom: 80px;
	}
	.company {
		padding-bottom: 50px;
	}
	.company .company_right_images {
		gap: 13px 12px;
	}
	.d-none {
		display: none;
	}
	.news .d_lg_none {
		display: block;
	}
	.img_item img {
		height: 190px;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}
	.news .news_date {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.news .news_desc {
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;
	}
	.news #title {
		margin-bottom: 30px;
	}
	.news .news_block {
		gap: 20px 0;
		margin-bottom: 30px;
	}
	.news .news_body {
		padding: 11px 18px;
	}
	s .catalog .catalog_desc {
		font-size: 18px;
	}
	.catalog .swiper_item {
		height: 340px;
	}
	.blue_button a,
	.blue_button button {
		width: 210px;
		font-size: 16px;
		padding: 15px 0;
	}
	.section_padding {
		padding-bottom: 80px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	header {
		.header_right {
			.search_wrap {
				display: none;
			}
		}
	}
	.subscribe_block {
		flex-wrap: wrap;
	}
	footer .substr_title {
		max-width: 100%;
	}
	.company .company_top {
		flex-wrap: wrap;
		gap: 12px 24px;
	}
	.catalog .swiper_item {
		height: auto;
		padding: 11px 12px 15px 12px;
	}
	.special_offers #title {
		text-wrap: wrap;
	}
	.catalog .catalog_desc {
		line-height: 25px;
	}
	.catalog .catalog_block {
		margin-bottom: 20px;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding-left: 18px;
		padding-right: 18px;
	}

	header {
		.header_row {
			gap: 12px;
			padding: 19.5px 0;
			.brand_logo {
				img {
					width: 101px;
					height: 27px;
				}
			}
		}
		.header_right {
			gap: 12px;
			.blue_button {
				a {
					font-size: 11px;
					line-height: 15px;
					width: 123px;
					padding: 7px 0;
				}
			}
			.to_tel img {
				width: 17px;
				height: 17px;
			}
			.hamburger {
				width: 33px;
				height: 33px;
			}
		}
		.header_middle {
			.menus {
				top: 72px;
				min-width: 375px;
				max-width: 375px;
				border-radius: 0;
				li.has_submenu {
					.submenu {
						min-width: 375px;
						max-width: 375px;
					}
				}
			}
		}
		padding: 0 18px;
	}
	footer {
		padding: 20px 0;
	}
	footer .footer_logo {
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 20px;
	}
	footer .footer_item_name {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 8px;
	}
	footer .list_title {
		width: 55px;
		font-size: 12px;
		line-height: 16px;
	}
	footer .list_value,
	footer .footer_navs li a,
	footer .rule {
		font-size: 12px;
		line-height: 16px;
	}
	footer .list_item {
		gap: 10px;
	}
	.footer_item:nth-child(2) {
		width: 100%;
		.footer_navs {
			flex-direction: row;
			justify-content: space-between;
			max-width: 100%;
		}
	}
	footer .footer_block {
		gap: 20px;
	}
	footer .tablet_item {
		order: 4;
	}
	footer .footer_last {
		order: 5;
	}
	footer .social_title,
	footer .substr_title {
		font-size: 12px;
		line-height: 16px;
	}
	footer .tablet_item {
		max-width: 100%;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	footer .rule {
		max-width: 165px;
	}
	footer .social_network {
		align-items: center;
		gap: 15px;
		.social_img {
			margin-left: 4px;
			img {
				width: 20px;
			}
		}
	}
	footer .footer_navs {
		gap: 8px;
		max-width: 150px;
	}
	footer .subscribe_form input {
		width: unset;
		flex-grow: 1;
		height: 38px;
		font-size: 12px;
		line-height: 16px;
		&::placeholder {
			font-size: 12px;
			line-height: 16px;
		}
	}
	footer .subscribe_form button {
		padding: 5px 30px;
		font-size: 11px;
		height: 38px;
	}
	.question .question_block > .question_input {
		flex-direction: column;
		gap: 8px;
		margin-bottom: 8px;
	}
	footer .subscribe_form {
		gap: 10px;
		justify-content: space-between;
		width: 100%;
	}
	footer .substr_title {
		margin-bottom: 10px;
	}
	.question .orginal_input {
		font-size: 12px;
		line-height: 16px;
		padding: 10px 16px;
	}
	.question .question_block > textarea {
		font-size: 12px;
		line-height: 16px;
		padding: 10px 16px;
		min-height: 130px;
	}
	.empty {
		height: 35px;
	}
	.question h3 {
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 26px;
	}
	.img_item {
		display: none;
	}
	.special_offers .offer_block {
		padding-top: 10px;
	}
	.special_offers .swiper_img {
		margin-bottom: 15px;
		img {
			max-width: 163px;
		}
	}
	.special_offers .offer_desc {
		font-size: 14px;
		line-height: 19px;
	}
	.special_offers {
		padding: 40px 0 0 0;
	}
	#swiper_container.container {
		padding: 0;
		padding-left: 18px;
	}
	#news_container.container {
		padding: 0;
	}

	.special_offers .offer_swiper {
		padding-bottom: 40px;
	}
	.company .company_block {
		margin-bottom: 25px;
	}
	.img_item img {
		height: 150px;
	}
	.company {
		padding-bottom: 30px;
	}
	.img_item:nth-child(n + 3) {
		display: block;
	}
	.company .company_block {
		flex-wrap: wrap;
	}
	.company .company_count {
		font-size: 34px;
		line-height: 46px;
	}
	.company .company_left {
		width: 100%;
	}
	.company .company_count_title {
		font-size: 18px;
		line-height: 25px;
	}
	.catalog .catalog_block {
		padding-top: 0px;
	}
	.catalog .catalog_desc {
		font-size: 15px;
		line-height: 22px;
	}
	.catalog .swiper_img {
		margin-bottom: 20px;
	}
	.catalog .swiper_item {
		padding: 11px 6px 14px 6px;
	}
	.catalog .catalog_block {
		margin-bottom: 00px;
	}
	.catalog .catalog_swiper {
		padding-bottom: 20px;
	}
	#title {
		font-size: 22px;
		gap: 30px;
	}
	.blue_button a,
	.blue_button button {
		width: 157px;
		padding: 5px 0;
		font-size: 13px;
	}
	.section_padding {
		padding-bottom: 40px;
	}
	.news .news_body {
		padding: 10px 16px;
	}
	.news .news_date {
		font-size: 10px;
		line-height: 14px;
	}
	.news .news_desc {
		font-size: 14px;
		line-height: 19px;
	}
	.news .d-none {
		display: none;
	}
	.news_swiper {
		padding-top: 20px;
		margin-bottom: 30px;
	}
	.news .news_item {
		width: 100%;
	}
	.news #title {
		margin-bottom: 0px;
	}
	.news .swiper-backface-hidden .swiper-slide {
		transition: all ease-in-out 0.2s;
	}
	.news .swiper-backface-hidden .swiper-slide-active {
		transform: translate(0px, -15px);
	}
	.company #title {
		transform: translate(0, 2px);
	}
	.news .news_swiper,
	.d_lg_none {
		display: block;
	}
}
