* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	overflow: hidden;
}

// main title with border
.menu_name {
	position: relative;
	border-top: 1px solid rgb(12, 26, 55);
}
#title {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgb(12, 26, 55);
	font-size: 50px;
	font-weight: 700;
	line-height: 68px;
	padding: 0 55px;
	background-color: #b8cedb;
}
