* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "OpenSans", sans-serif;
}
.wrapper {
	overflow: hidden;
}
section {
	position: relative;
}
a {
	text-decoration: none;
}
// main title with border
#title {
	position: relative;
	z-index: 0;
	text-align: center;
	color: rgb(12, 26, 55);
	font-size: 50px;
	font-weight: 700;
	line-height: 68px;
	span {
		padding: 0 55px;
		position: relative;
		z-index: 123;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0px;
		bottom: 0;
		margin: auto;
		left: 0;
		z-index: 2;
		width: calc(41% - 55px);
		height: 1px;
		background-color: rgb(12, 26, 55);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0px;
		bottom: 0;
		margin: auto;
		right: 0;
		z-index: 2;
		width: calc(41% - 55px);
		height: 1px;
		background-color: rgb(12, 26, 55);
	}
}
// .titles_block {
// 	position: relative;
// 	border-bottom: 1px solid rgb(12, 26, 55);
// 	.titles {
// 		color: rgb(12, 26, 55);
// 		font-size: 50px;
// 		font-weight: 700;
// 		line-height: 68px;
// 		padding: 0 55px;
// 		position: absolute;
// 		top: 0;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 	}
// }

// blue button

.blue_button {
	text-align: center;
	a,
	button {
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		background: rgb(12, 26, 55);
		color: rgb(255, 255, 255);
		font-size: 22px;
		font-weight: 700;
		line-height: 30px;
		padding: 21px 0;
		width: 302px;
		display: inline-block;
		border: 2px solid transparent;
		transition: all ease-in 0.2s;
		cursor: pointer;
		&:hover {
			color: rgb(12, 26, 55);
			border: 2px solid rgb(12, 26, 55);
			background-color: #fff;
		}
	}
}

// section_margin
.section_margin {
	margin-bottom: 130px;
}
.section_padding {
	padding-bottom: 130px;
}
