* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	overflow: hidden;
}

// main title with border
.title {
	text-align: center;
	color: rgb(12, 26, 55);
	font-size: 50px;
	font-weight: 700;
	line-height: 68px;
	position: relative;
	z-index: 3;
	&::before {
		content: "";
	}
}
