header {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.08);
  background-color: rgb(184, 206, 219);
}
header .header_row {
  padding: 39px 0 27px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 122px;
}
header .header_row .brand_logo img {
  width: 182px;
  height: 49px;
}
header .header_middle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header .header_middle .menus {
  display: flex;
  align-items: center;
  gap: 57px;
}
header .header_middle .menus li {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  color: rgb(12, 26, 55);
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: 0.3s all ease-out;
}
header .header_middle .menus li:hover {
  -webkit-text-stroke: 1px rgb(12, 26, 55);
}
header .header_middle .menus li.has_submenu {
  border-bottom: 3px solid transparent;
}
header .header_middle .menus li.has_submenu .submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: calc(100% + 11px);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  z-index: 1;
  background: rgb(250, 250, 250);
  min-width: 416px;
  transition: 0.3s all ease-out;
  border-top: 6px solid transparent;
}
header .header_middle .menus li.has_submenu:hover {
  border-color: rgb(12, 26, 55);
}
header .header_middle .menus li.has_submenu:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  border-color: rgb(12, 26, 55);
}
header .header_middle .menus li.has_submenu .submenu li {
  height: 66px;
  padding: 8px 16px 8px 16px;
  border-top: 1px solid rgb(141, 161, 178);
}
header .header_middle .menus li.has_submenu .submenu li:first-child {
  border: none;
}
header .header_middle .menus li.has_submenu .submenu li:hover {
  background: rgb(184, 206, 219);
}
header .header_middle .menus li.has_submenu .submenu li:hover .inner_submenu {
  opacity: 1;
  visibility: visible;
  right: 0;
}
header .header_middle .menus li.has_submenu .inner_submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: -10px;
  transform: translate(100%, 0);
  top: 0;
  transition: 0.3s all ease-out;
  background: rgb(250, 250, 250);
}
header .header_middle .menus a {
  text-decoration: none;
  color: rgb(12, 26, 55);
  transition: 0.3s all ease-out;
  text-wrap: nowrap;
}
header .header_middle .menus a :hover {
  -webkit-text-stroke: 1px rgb(12, 26, 55);
}
header .header_middle ul {
  list-style: none;
}
header .search_wrap {
  position: relative;
}
header .search_wrap input {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  background: rgb(196, 215, 226);
  padding: 12px 20px 12px 58px;
  color: rgb(12, 26, 55);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  height: 61px;
  border: none;
  outline: none;
}
header .search_wrap img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
header .header_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .header_right .to_tel {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  color: rgb(12, 26, 55);
}
header .header_right .blue_button a {
  padding: 15.5px 0;
}

.catalog {
  background-color: #b8cedb;
  padding-bottom: 100px;
}
.catalog .catalog_block {
  padding-top: 55px;
  position: relative;
}
.catalog .catalog_swiper {
  padding-bottom: 30px;
}
.catalog .swiper_item {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 15px 15px 30px 15px;
  height: 498px;
  transition: all ease-in 0.2s;
}
.catalog .swiper_item:hover {
  box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.192);
}
.catalog .swiper_offer_prev {
  position: absolute;
  top: 48%;
  left: -50px;
}
.catalog .swiper_offer_next {
  right: -50px;
  position: absolute;
  top: 48%;
}
.catalog .swiper_img {
  margin-bottom: 75px;
}
.catalog .swiper_img img {
  max-width: 307px;
  max-height: 307px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.catalog .catalog_desc {
  color: rgb(12, 26, 55);
  font-size: 26px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

.news {
  background-color: #b8cedb;
}
.news #title {
  margin-bottom: 55px;
}
.news .news_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 0;
  margin-bottom: 40px;
}
.news .news_item {
  flex: 0 0 auto;
  width: calc(50% - 12px);
  border-radius: 10px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}
.news .news_item:hover {
  cursor: pointer;
  box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.393);
}
.news .news_item_img img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.news .news_body {
  padding: 18px 36px;
}
.news .news_date {
  color: rgb(12, 26, 55);
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 8px;
  letter-spacing: 0%;
}
.news .news_desc {
  color: rgb(12, 26, 55);
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
}

.company {
  background: url(../images/company_bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 90px;
}
.company #title {
  transform: translate(0, -4px);
}
.company .company_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.company .blue_button#left_side {
  display: inline-block;
}
.company .company_count {
  color: rgb(12, 26, 55);
  font-size: 80px;
  font-weight: 600;
  line-height: 109px;
  letter-spacing: 0%;
}
.company .company_count_title {
  color: rgb(12, 26, 55);
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0%;
  margin-top: -5px;
}
.company .company_block {
  display: flex;
  gap: 65px;
  justify-content: space-between;
  align-items: flex-start;
}
.company .company_left {
  flex: 0 0 auto;
  width: 45.3%;
}
.company .company_desc {
  color: rgb(12, 26, 55);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  margin-bottom: 60px;
}
.company .company_right_images {
  display: flex;
  gap: 15px 24px;
  flex-wrap: wrap;
}

.special_offers {
  padding: 130px 0 0 0;
  background-color: #b8cedb;
}
.special_offers .offer_block {
  padding-top: 40px;
  position: relative;
}
.special_offers .offer_swiper {
  padding-bottom: 130px;
}
.special_offers .swiper_offer_prev {
  position: absolute;
  top: 37%;
  left: -50px;
}
.special_offers .swiper_offer_next {
  right: -50px;
  position: absolute;
  top: 37%;
}
.special_offers .swiper_item {
  box-sizing: border-box;
  border: 1px solid rgb(184, 206, 219);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 19px 9px 44px 9px;
  transition: all ease-in 0.2s;
}
.special_offers .swiper_item:hover {
  box-shadow: 1px 2px 22px 0px rgba(0, 0, 0, 0.393);
}
.special_offers .swiper_img {
  text-align: center;
  margin-bottom: 40px;
}
.special_offers .offer_desc {
  color: rgb(12, 26, 55);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.question {
  padding: 60px 0;
  background-image: url("/assets/images/question_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.question h3 {
  color: rgb(12, 26, 55);
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
  margin-bottom: 40px;
}
.question .question_block > .question_input {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.question .question_block > textarea {
  width: 100%;
  padding: 23px 31px;
  font-size: 22px;
  outline: none;
  border-radius: 10px;
  border: 0.5px solid rgb(12, 26, 55);
  color: rgb(12, 26, 55);
  line-height: 30px;
  min-height: 167px;
  max-height: 167px;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.question .question_block > textarea::-moz-placeholder {
  color: rgb(12, 26, 55);
}
.question .question_block > textarea::placeholder {
  color: rgb(12, 26, 55);
}
.question .question_block > textarea::-webkit-resizer {
  display: none;
}
.question .orginal_input {
  width: 100%;
  padding: 23px 31px;
  font-size: 22px;
  outline: none;
  border-radius: 10px;
  color: rgb(12, 26, 55);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  border: 0.5px solid rgb(12, 26, 55);
}
.question .orginal_input::-moz-placeholder {
  color: rgb(12, 26, 55);
}
.question .orginal_input::placeholder {
  color: rgb(12, 26, 55);
}

.empty {
  height: 130px;
  background-color: #b8cedb;
}

footer {
  padding: 80px 0;
  background: rgb(12, 26, 55);
}
footer .footer_logo {
  color: rgb(250, 250, 250);
  font-size: 40px;
  font-weight: 800;
  line-height: 54px;
  margin-bottom: 40px;
}
footer .footer_block {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 90px;
  justify-content: space-between;
}
footer .footer_item_name {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 15px;
}
footer .footer_detail_lists {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
footer .list_item {
  display: flex;
  gap: 40px;
}
footer .list_title {
  width: 82px;
  color: rgb(141, 161, 178);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
footer .list_value {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  max-width: 215px;
}
footer .footer_navs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer_navs li a {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
footer .footer_last {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}
footer .rule {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  transition: all ease-in 0.2s;
  border-bottom: 2px solid transparent;
}
footer .rule:hover {
  border-bottom: 2px solid rgb(250, 250, 250);
}
footer .substr_title {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}
footer .subscribe_form {
  display: flex;
  gap: 12px;
}
footer .subscribe_form input {
  border: 0.5px solid rgb(184, 206, 219);
  border-radius: 10px;
  height: 45px;
  padding-left: 15px;
  width: 330px;
  outline: none;
  background: rgba(250, 250, 250, 0.2);
  color: rgb(141, 161, 178);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
footer .subscribe_form input::-moz-placeholder {
  color: rgb(141, 161, 178);
  font-size: 18px;
}
footer .subscribe_form input::placeholder {
  color: rgb(141, 161, 178);
  font-size: 18px;
}
footer .subscribe_form button {
  border: none;
  cursor: pointer;
  color: rgb(12, 26, 55);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding: 11px 57px 8px 57px;
  border-radius: 10px;
  background: rgb(184, 206, 219);
  transition: all ease-in-out 0.2s;
}
footer .subscribe_form button:hover {
  color: rgb(12, 26, 55);
  background: rgb(255, 255, 255);
}
footer .social_network {
  display: flex;
  gap: 17px;
}
footer .social_title {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

section {
  position: relative;
}

a {
  text-decoration: none;
}

#title {
  position: relative;
  top: -17px;
  width: 100%;
  text-wrap: nowrap;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  align-items: center;
}

#title::after,
#title::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(12, 26, 55);
}

.blue_button {
  text-align: center;
}
.blue_button a,
.blue_button button {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgb(12, 26, 55);
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  padding: 21px 0;
  width: 302px;
  display: inline-block;
  border: 2px solid transparent;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.blue_button a:hover,
.blue_button button:hover {
  color: rgb(12, 26, 55);
  border: 2px solid rgb(12, 26, 55);
  background-color: #fff;
}

.section_margin {
  margin-bottom: 130px;
}

.section_padding {
  padding-bottom: 130px;
}

.swiper_offer_nav i {
  border-radius: 6px;
  background: transparent;
  padding: 8px 10px 8px 10px;
  color: rgb(12, 26, 55);
  font-size: 33px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.swiper_offer_nav i:hover {
  background: rgb(12, 26, 55);
  color: #fff;
}

.container {
  max-width: 1415px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1140px;
  }
  header .header_row {
    gap: 60px;
  }
  header .header_row .brand_logo img {
    width: 171px;
    height: 30px;
  }
  header .header_middle {
    gap: 15px;
  }
  header .header_middle .menus {
    gap: 30px;
  }
  header .header_right .to_tel {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  header .header_row {
    gap: 40px;
    padding: 20px 0;
  }
  header .header_row .brand_logo img {
    width: 120px;
  }
  header .header_middle .menus {
    gap: 20px;
  }
  header .header_right .to_tel {
    gap: 13px;
    font-size: 20px;
  }
  header .header_right .blue_button a {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}