.news {
  background-color: #b8cedb;
}
.news .news_block {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 0;
}
.news .news_item {
  flex: 0 0 auto;
  width: calc(50% - 12px);
  border-radius: 10px;
  background-color: #fff;
}
.news .news_item_img img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.news .news_body {
  padding: 18px 36px;
}
.news .news_date {
  color: rgb(12, 26, 55);
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 8px;
  letter-spacing: 0%;
}
.news .news_desc {
  color: rgb(12, 26, 55);
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.menu_name {
  position: relative;
  border-top: 1px solid rgb(12, 26, 55);
}

#title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(12, 26, 55);
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  padding: 0 55px;
  background-color: #b8cedb;
}

.container {
  max-width: 1415px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}