* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.title {
  text-align: center;
  color: rgb(12, 26, 55);
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  position: relative;
  z-index: 3;
}
.title::before {
  content: "";
}

.container {
  max-width: 1415px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}